USE [SmartphoneShop]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[maCN] [int] IDENTITY(1,1) NOT NULL,
	[tenChiNhanh] [nvarchar](225) NULL,
	[diaChi] [nvarchar](225) NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[maCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiNhanhMatHang]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanhMatHang](
	[maCN] [int] NOT NULL,
	[maMH] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiNhanhMatHang] PRIMARY KEY CLUSTERED 
(
	[maCN] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[maDM] [int] IDENTITY(1,1) NOT NULL,
	[tenDM] [nvarchar](225) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[maDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[maHD] [int] NOT NULL,
	[maMH] [int] NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_GiaoDich] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[maNV] [int] NULL,
	[maKH] [int] NOT NULL,
	[ngayLap] [date] NULL,
	[total] [int] NULL,
	[loaiHD] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDonOffline] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [int] NOT NULL,
	[tenKH] [nvarchar](225) NULL,
	[maCN] [int] NOT NULL,
	[diaChi] [nvarchar](225) NULL,
	[phone] [nvarchar](225) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[maMH] [int] NOT NULL,
	[maDM] [int] NOT NULL,
	[tenMH] [nvarchar](225) NOT NULL,
	[hangMH] [nvarchar](225) NULL,
	[img] [nvarchar](225) NULL,
	[giaMH] [nvarchar](225) NULL,
	[manHinh] [nvarchar](225) NULL,
	[heDieuHanh] [nvarchar](225) NULL,
	[camera] [nvarchar](225) NULL,
	[cpu] [nvarchar](225) NULL,
	[ram] [nvarchar](225) NULL,
	[pin] [nvarchar](225) NULL,
 CONSTRAINT [PK_MatHang_1] PRIMARY KEY CLUSTERED 
(
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/3/2019 1:15:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](225) NULL,
	[passWord] [nvarchar](225) NULL,
	[hoTen] [nvarchar](225) NULL,
	[diaChi] [nvarchar](225) NULL,
	[phone] [nvarchar](225) NULL,
	[maCN] [int] NULL,
	[chucVu] [nvarchar](225) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiNhanh] ON 

INSERT [dbo].[ChiNhanh] ([maCN], [tenChiNhanh], [diaChi]) VALUES (1, N'Hà Nội', N'Hà Đông, Hà Nội')
INSERT [dbo].[ChiNhanh] ([maCN], [tenChiNhanh], [diaChi]) VALUES (2, N'Hồ Chí Minh', N'TP. Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[ChiNhanh] OFF
INSERT [dbo].[ChiNhanhMatHang] ([maCN], [maMH], [soLuong]) VALUES (1, 1000, 101)
INSERT [dbo].[ChiNhanhMatHang] ([maCN], [maMH], [soLuong]) VALUES (1, 1001, 100)
INSERT [dbo].[ChiNhanhMatHang] ([maCN], [maMH], [soLuong]) VALUES (1, 1002, 140)
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([maDM], [tenDM]) VALUES (1, N'Smartphone')
INSERT [dbo].[DanhMuc] ([maDM], [tenDM]) VALUES (2, N'Laptop')
INSERT [dbo].[DanhMuc] ([maDM], [tenDM]) VALUES (3, N'Tablet')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
INSERT [dbo].[GiaoDich] ([maHD], [maMH], [soLuong]) VALUES (1, 1000, 1)
INSERT [dbo].[GiaoDich] ([maHD], [maMH], [soLuong]) VALUES (2, 1010, 2)
INSERT [dbo].[GiaoDich] ([maHD], [maMH], [soLuong]) VALUES (3, 1005, 1)
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [ngayLap], [total], [loaiHD]) VALUES (1, 1, 1, CAST(0x2D210B00 AS Date), 2000000, N'Offline')
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [ngayLap], [total], [loaiHD]) VALUES (2, 1, 2, CAST(0x1E400B00 AS Date), 2600000, N'Offline')
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [ngayLap], [total], [loaiHD]) VALUES (3, 1, 1, CAST(0xD83F0B00 AS Date), 1500000, N'Offline')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [maCN], [diaChi], [phone]) VALUES (1, N'Luong Van Chinh', 1, N'Hải Dương', N'0986505708')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [maCN], [diaChi], [phone]) VALUES (2, N'Nguyen van a', 1, N'Bắc Ninh', N'0985050461')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [maCN], [diaChi], [phone]) VALUES (3, N'Hoàng Xuân Quyết', 2, N'Đà Nẵng', N'09456275849')
INSERT [dbo].[MatHang] ([maMH], [maDM], [tenMH], [hangMH], [img], [giaMH], [manHinh], [heDieuHanh], [camera], [cpu], [ram], [pin]) VALUES (1000, 1, N'Iphone 8 Plus', N'Apple', N'iphone-xs-gold-400x400.jpg', N'24000000', N'	LED-backlit IPS LCD, 5.5"', N'IOS', N'12 PM', N'	Apple A11 Bionic 6 nhân', N'4 GB', N'2691 mAh')
INSERT [dbo].[MatHang] ([maMH], [maDM], [tenMH], [hangMH], [img], [giaMH], [manHinh], [heDieuHanh], [camera], [cpu], [ram], [pin]) VALUES (1001, 1, N'IphoneXS Max', N'Apple', N'iphone-xs-max.jpg', N'38990000', N'OLED, 6.5"', N'IOS', N'12 PM', N'Apple A12 Bionic 6 nhân', N'4 GB', N'3174 mAh')
INSERT [dbo].[MatHang] ([maMH], [maDM], [tenMH], [hangMH], [img], [giaMH], [manHinh], [heDieuHanh], [camera], [cpu], [ram], [pin]) VALUES (1002, 1, N'Iphone X ', N'Apple', N'iphone-x.jpg', N'22990000', N'OLED, 5.8"', N'IOS', N'8 PM', N'	Apple A11 Bionic 6 nhân', N'4 GB', N'2716 mAh')
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([maNV], [userName], [passWord], [hoTen], [diaChi], [phone], [maCN], [chucVu]) VALUES (1, N'nguyenhuuquynh', N'huuquynh', N'Nguyễn Hữu Quỳnh', N'Bắc Ninh', N'0123456789', 1, N'Quản lý')
INSERT [dbo].[NhanVien] ([maNV], [userName], [passWord], [hoTen], [diaChi], [phone], [maCN], [chucVu]) VALUES (2, N'tranvannuc', N'trannuc', N'Trần Văn Nực', N'Nam Định', N'0123467895', 1, N'Bán hàng')
INSERT [dbo].[NhanVien] ([maNV], [userName], [passWord], [hoTen], [diaChi], [phone], [maCN], [chucVu]) VALUES (3, N'danghuuhieu', N'danghieu', N'Đặng Huy Hiếu', N'Hà Nội', N'0164604613', 1, N'Bán hàng')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
ALTER TABLE [dbo].[ChiNhanhMatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiNhanhMatHang_ChiNhanh] FOREIGN KEY([maCN])
REFERENCES [dbo].[ChiNhanh] ([maCN])
GO
ALTER TABLE [dbo].[ChiNhanhMatHang] CHECK CONSTRAINT [FK_ChiNhanhMatHang_ChiNhanh]
GO
ALTER TABLE [dbo].[ChiNhanhMatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiNhanhMatHang_MatHang] FOREIGN KEY([maMH])
REFERENCES [dbo].[MatHang] ([maMH])
GO
ALTER TABLE [dbo].[ChiNhanhMatHang] CHECK CONSTRAINT [FK_ChiNhanhMatHang_MatHang]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_HoaDonOffline] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [FK_GiaoDich_HoaDonOffline]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_MatHang] FOREIGN KEY([maMH])
REFERENCES [dbo].[MatHang] ([maMH])
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [FK_GiaoDich_MatHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonOffline_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDonOffline_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonOffline_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDonOffline_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([maCN])
REFERENCES [dbo].[ChiNhanh] ([maCN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_DanhMuc] FOREIGN KEY([maDM])
REFERENCES [dbo].[DanhMuc] ([maDM])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_DanhMuc]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh1] FOREIGN KEY([maCN])
REFERENCES [dbo].[ChiNhanh] ([maCN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh1]
GO
